/* importar variable de otro archivo */
@import"/Clase02-html/SCSS/nav";




/* asignación de variable */
$color:aquamarine;
$alto: 250px;

body{
    background-color: $color;
}

p {
    height: $alto;
}
